.cart-container:hover .cart-svg {
  fill: #000;
  stroke: #000000;
}

.cart-container {
  position: relative;
}

.cart-svg {
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
    transition: .3s ease;
}

.cart-count {
  position: absolute;
  top: 20%;
  right: 30%;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 900;
}

.delete-cartItem {
  width: 60%;
  min-width: 150px;
  padding: 12px;
  background-color: #9494da;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .2s ease;
  border-radius: 20px;
  font-weight: 600;
  &:hover {
    background-color: #6161d9;
    transform: scale(1.1);
  }
}

.quant-cartItem {
    font-size: 20px;
    font-weight: 700;
     margin-bottom: 10px;
}

.buy-btn {
  color: #fff;
  min-width: 400px;
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: .2s ease;
  border-radius: 20px;
  background-color: #7b7baf;
  font-weight: 600;
  &:hover {
    background-color: #6161d9;
    transform: scale(1.1);
  }
}

.cart__button-container {
  display: flex;
  justify-content: center;
}

.cart-title {
  font-size: 60px;
  color: #312f2f;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 30%;
}

