.open-btn {
  background-color: #9494da;
  width: 65%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  transition: transform 0.3s;
  border: none;
  &:hover {
    transform: scale(1.1);
    background-color: #8686e5;
  }
}

.btn {
  width: 35%;
  height: 8%;
  border-radius: 20px;
  transition: 0.2s;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
  &:hover {
    transform: scale(1.1);
  }
}

.close-btn {
  background-color: #ffffff;
  color: #000;
  &:hover {
    background-color: #e1dddd;
  }
}

.add-btn {
  background-color: #7676c7;

  &:hover {
    background-color: #6969c7;
  }
}

.cont {
  display: flex;
}


