.сards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  padding: 10px;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.сards-container.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}



