.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: #fcfcfc;
  padding: 15px;
  box-sizing: content-box;
  margin: 10px auto;
  width: 90%;
  border-radius: 13%;
    &:hover {
      background-color: #f1f1f1;
    }
}

.cards-container.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.action-wrapper {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  & button {
    margin-bottom: 10px;
  }
}

.card-wrapper.grid {
  display: grid;
  border-radius: 5%;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: max-content;

  & > .action-wrapper {
    display: grid;
    grid-template-rows: auto;
    & svg {
      justify-self: center;
    }
    & button {
      justify-self: center;
      margin-bottom: 10px;
    }

  }
}

.card-img {
  object-fit: contain;
  height: 300px;
  width: 95%;
  border-radius: 10%;
}

.card-article {
  font-size: 28px;
  font-weight: 500;
}

.item-color {
  font-size: 20px;
}

.card-name {
  font-size: 28px;
}

.card-price {
  font-size: 25px;
}
