.modal {
  background-color: rgb(0, 0, 0, 0.8);
  width: 50%;
  height: 40%;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.modal-wrapper  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-text {
  font-size:48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

}

.modal-span {
  font-size:55px;
  color: #8888d0;
}


