.fav__card-svg {
  fill: #fff;
  background-color: #8a8ac7;
  border-radius: 24px;
  transition: .2s ease;
}

.fav-card {
  cursor: pointer;
  transition: .2s ease;
  &:hover{
    fill: #d7abab;
  }
}

.favorite {
  transition: .2s ease;
  cursor: pointer;
  fill: #ffffff;

  &:hover {
    fill: #000;
  }
}

.favorite-wrapper {
  position: relative;
}

.favorite-counter {
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  left: 50%;
  font-size: 22px;
  color: #fff;
  font-weight: 900;
  pointer-events: none;
}

.pages-text {
  color: #ffffff;
  font-size: 75px;
  position: absolute;
  top: 46%;
  right: 40%;

}