.header {
  height: 100px;
  display: flex;
  background-color: #345081;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
}

.table__mod-btn {
    max-width: 200px;
}

.svg-wrapper {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  padding-right: 20px;
  font-size: 40px;
  text-decoration: none;
  &:hover {
    color: #e1e1e1;
  }
}

.home-page {
  text-decoration: none;
  color: #fff;
  text-underline: none;
  font-size: 25px;
  padding-right: 10px;
  &:hover {
    color: #cec5c5;
  }
}

.active {
  border-bottom: 2px solid #8a8ac7;
}

