.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout__modal-text {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.checkout-label {
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
}

.checkout-modal {
  background-color: rgb(0, 0, 0, 0.8);
  width: 40%;
  height: 70%;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.submit-checkout {
  margin: 12px 0 5px 0;
  min-width: 200px;
  padding: 8px;
  border-radius: 20px;
  transition: 0.2s;
  font-size: 15px;
  color: #fff;
  background-color: #6161d9;
  font-weight: 600;

  &:hover {
    transform: scale(1.1);
  }
}

.checkout-close-btn {
  margin: 12px 0 5px 0;
  min-width: 200px;
  padding: 8px;
  border-radius: 20px;
  transition: 0.2s;
  font-size: 15px;
  background-color: #fff;
  font-weight: 600;
  &:hover {
    transform: scale(1.1);
  }
}

.checkout-field {
  font-size: 16px;
  text-align: center;
  min-width: 350px;
  padding: 7px;
  font-weight: 500;
  margin: 10px 0;
  border-radius: 7px;
}

.error-message {
  color: red;
  font-size: 17px;
  font-weight: 600;
}

