@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');@import 'components/Modal/modal.scss';
@import "components/Button/button.scss";
@import "components/Card/card.scss";
@import "components/CardsContainer/cards-container.scss";
@import "components/Header/header.scss";
@import "components/Cart/cart.scss";
@import "components/Favorite/favorite.scss";
@import "components/CheckoutModal/checkoutModal.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b9c1d2;
}

.main-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}